<h1>
Edit username or fortune
</h1>

<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :favorite_fortune %>
<%= f.text_field :favorite_fortune %>
<%= f.submit "Update Player", class:"btn"%>
<% end %>
