<% @user = User.find(session[:user_id]) %>
<h1><%= @user.username %> Profile</h1>

<p><%= link_to "Start new game", create_game_path, method:"post" %></p>

Current Score: <%= @user.current_score %>
<br><br>
Cumulative Score: <%= @user.cumulative_score %>
<br>
<% games = @user.games %>
Game Scores:
<table class="striped">
  <thead>
    <th>Game</th>
    <th>Score</th>
  </thead>
  <tbody>
    <% games.each do |game| %>
    <tr>
      <td><%= game.id %></td>
      <td><%= game.score %></td>
    </tr>
    <% end %>
  </tbody>
</table>
