<% @user = User.find(session[:user_id]) %>
<% games = @user.games %>
<h1><%= @user.username %></h1>
<div class="row">
  <div class="col s12 m5">
    <div class="card-panel teal">
      <span class="white-text">
        Latest Score: <%= @user.current_score %>
      </span>
    </div>
  </div>
  <div class="col s12 m5">
    <div class="card-panel teal">
      <span class="white-text">
        Cumulative Score: <%= @user.cumulative_score %>
      </span>
    </div>
  </div>
</div>
<table class="striped">
  <thead>
    <th>Game</th>
    <th>Score</th>
  </thead>
  <tbody>
    <% games.each do |game| %>
    <tr>
      <td><%= game.id %></td>
      <td><%= game.score %></td>
    </tr>
    <% end %>
  </tbody>
</table>
