<% @game = Game.find(session[:game_id]) %>
<% @user = User.find(session[:user_id]) %>
<div class="jumbotron">
  <div class="container">

    <% if session[:won] == true %>
    <h3> You win all the fortune cookies!</h3>
    <%= image_tag("defeated_bear.gif", :alt => "victroy") %>
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text">
            Final Score: <%= @game.score %>
          </span>
        </div>
      </div>
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text">
            Player Score: <%= @user.cumulative_score %>
          </span>
        </div>
      </div>
    </div>
    <% else %>
    <h3 class="center-align">Cookie bear eats your fortunes :(</h3>
    <div class="center-align">
      <%= image_tag("bear_cry.gif", :alt => "cry bear") %>
    </div>
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text">
            Final Score: <%= @game.score %>
          </span>
        </div>
      </div>
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text">
            Player Score: <%= @user.cumulative_score %>
          </span>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to("Play Again!", create_game_path, method: :post, class: "waves-effect waves-light btn")%>
  </div>
</div>
