<% @game = Game.find(session[:game_id]) %>
<% @user = User.find(session[:user_id]) %>
<div class="container">
  <% if session[:won] == true %>
  <h3 class="center-align"> You win all the fortune cookies!</h3>
  <div class="col s4"></div>
  <div class="col s4">
    <%= link_to("Play Again!", create_game_path, method: :post, class: "waves-effect waves-light btn")%>
  </div>
  <div class="col s4"></div>
  <br><br>
  <div class="center-align">
    <%= image_tag("defeated_bear.gif", :alt => "victroy") %>
  </div>
  <div class="row">
    <div class="col s6">
      <div class="card-panel card-teal-border center-align">
        <span class="teal-text">
          Final Cookie Points: <%= @game.score %>
        </span>
      </div>
    </div>
    <div class="col s6">
      <div class="card-panel card-teal-border center-align">
        <span class="teal-text">
          Player Cookie Points: <%= @user.cumulative_score %>
        </span>
      </div>
    </div>
  </div>
  <% else %>
  <h3 class="center-align">Cookie bear eats all your cookies :(</h3>
  <div class="col s4">
  </div>
  <div class="col s4">
    <%= link_to("Play Again!", create_game_path, method: :post, class: "waves-effect waves-light btn")%>
  </div>
  <div class="col s4">

  </div>
  <br><br>
  <div class="center-align">
    <%= image_tag("bear_cry.gif", :alt => "cry bear") %>
  </div>
  <div class="row">
    <div class="col s6">
      <div class="card-panel card-teal-border center-align">
        <span class="teal-text">
          Final Cookie Points: <%= @game.score %>
        </span>
      </div>
    </div>
    <div class="col s6">
      <div class="card-panel card-teal-border center-align">
        <span class="teal-text">
          Player Cookie Points: <%= @user.cumulative_score %>
        </span>
      </div>
    </div>
  </div>
  <% end %>
</div>
