<h3 class="center-align small-fonter">Unscramble the fortune in <span id="time", class="red-text">clock</span> seconds to get the cookie!</h3>
<div class="container">
  <% if session[:bear] == "new" %>
  <div class="card-panel yellow lighten-4">
    <span class="black-text ">
      <div class="left valign-wrapper">

      </div>
      <div class="right valign-wrapper">
        <%= @game.score %>
      </div>
      <br>
    </span>
  </div>
  <% elsif session[:bear] == "lost"%>
  <div class="card-panel yellow lighten-4 card-red-border">
    <span class="black-text ">
      <div class="left valign-wrapper">
        <%= image_tag("bear_icon.png", :alt => "bear", style:"width:50px;height:50px;") %>  COOKIE BEAR GOT UR COOKIE
      </div>
      <div class="right valign-wrapper">
        <%= @game.score %> <%= image_tag("trophy.png", :alt => "trophy", style:"width:50px;height:50px;") %>
      </div>
      <br>
    </span>
  </div>
  <% elsif session[:bear] == "won" %>
  <div class="card-panel yellow lighten-4">
    <span class="black-text ">
      <div class="left valign-wrapper card-image-fortune">
        <%= image_tag("fortune_icon.png", :alt => "fortune", style:"width:50px;height:50px;") %>  U WON A COOKIE
      </div>
      <div class="right valign-wrapper">
        <%= @game.score %> <%= image_tag("trophy.png", :alt => "trophy", style:"width:50px;height:50px;") %>
      </div>
      <br>
    </span>
  </div>
  <% end %>


  <div class="card horizontal medium">
    <div class="card-image">
      <%= image_tag("doom.png", :alt => "doom") %>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h4>
          <button id="shuffle" type="button" class="btn">Shuffle Words</button>
          <br><br>
          <div id="text">
            <%= @game.fortune_scrambler %>
          <br>
          </div>
          <br>
        </h4>
      </div>
      <div class="card-action">
        <%= form_tag game_update_path, method: "patch" do %>
        <%= text_field_tag :user_answer %>
        <%= hidden_field_tag 'game', @game %>
        <%= submit_tag "Submit Answer", id:"answer_btn", class:"btn" %>
        <% end %>
      </div>
    </div>
  </div>







</div>

<script>

//shuffle:

document.addEventListener('DOMContentLoaded', function(){

    var textDiv = document.getElementById('text');
    document.getElementById('shuffle').addEventListener('click',function(){
        var words = textDiv.innerText.split(' ');
        var len = words.length;
        var result = '';
        textDiv.innerText = '';
        for(var i = 0; i < len; ++i){
            var randIndex = Math.floor((Math.random() * (words.length)));
            result += words[randIndex] + ' ';
            words.splice(randIndex, 1);
        }
        textDiv.innerText = result;
    }, false);
}, false)

//timer:

function startTimer(duration, display) {
  var start = Date.now(),
      deferred = $.Deferred(),
      display = document.getElementById(display),
      diff, minutes, seconds, i;

  function timer() {
    diff = duration - (((Date.now() - start) / 1000) | 0);

    minutes = (diff / 60) | 0;
    seconds = (diff % 60) | 0;

    minutes = minutes < 10 ? "0" + minutes : minutes;
    seconds = seconds < 10 ? "0" + seconds : seconds;

    display.textContent = seconds;

    if (diff <= 0) {
      clearInterval(i);
      deferred.resolve();
    }
  };

  timer();
  i = setInterval(timer, 1000);

  return deferred.promise();
}

startTimer(30, 'time').then(function(){
    $("#answer_btn").trigger("click");
});

</script>
