<!DOCTYPE html>
<html>
  <head>
    <title>MagicCookie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if session[:user_id] %>
        <%= form_tag('/logout', method: 'delete') do %>
          <%= submit_tag "Logout" %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
