<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!DOCTYPE html>
<html>
  <head>
    <title>MagicCookie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% unless !logged_in? %>
      <nav>
        <div class="nav-wrapper">
          <%= link_to "Magic Cookies", about_path, class:"brand-logo center" %>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
             <li>
               <%= link_to("New Game", ready_path, class: " btn")%>

             </li>
             <li><%= link_to "See All Players", users_path %></li>
           </ul>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
             <% @user = User.find(session[:user_id]) %>
             <li><%= link_to  @user.username, user_path(@user) %></li>
             <li><%= link_to "Logout", logout_path, method:"delete" %></li>
           </ul>

         </div>
       </nav>
     <% end %>

    <div class="row">
      <div class="col s9">
        <%= yield %>
      </div>
      <% if logged_in? && session[:ready] == false %>
      <div class="col s3">
        <div class="card blue-grey lighten-2">
          <div class="card-content white-text">
            <span class="card-title">Top Player Cookies</span>
            <% @users = User.all %>
            <% top_three_scores = @users.sort_by do |user| %>
              <% user.cumulative_score %>
            <% end.reverse[0..2] %>
              <table>
                <thead>
                  <th>Username</th>
                  <th>Cookies</th>
                </thead>
                <tbody>
                  <% new_array = top_three_scores.map do |user| %>
                  <tr>
                    <td><%= "#{user.username}" %></td>
                    <td><%= "#{user.cumulative_score}" %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            <br>
            <span class="card-title">Top Game Cookies</span>
            <% top_three_scores = @users.sort_by do |user| %>
              <% user.current_score %>
            <% end.reverse[0..2] %>
            <table>
              <thead>
                <th>Username</th>
                <th>Cookies</th>
              </thead>
              <tbody>
                <% new_array = top_three_scores.map do |user| %>
                <tr>
                  <td><%= "#{user.username}" %></td>
                  <td><%= "#{user.current_score}" %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% elsif session[:ready] == true %>
      <br>
      <br>
      <%= image_tag("doom.png", :alt => "doom") %>
      <br>
      <br>

      <%= link_to("I'm Ready...Start Game!", create_game_path, method: :post, class: " btn")%>
      <br><br>
      <h3>Hint</h3>
      <p>Use the "Shuffle Words" button if you get stuck!</p>

      <% end %>
      </div>



  </body>
</html>
